body {
  background-color: #1E90FF;
}
.title {
  text-align: center;
  margin: auto;
  height: 100px;
  width: 700px;
  background-color: #1CFEBA;
  color: #F7F7FF;
  font-size: 30px;
}

/*The navigation bar*/
.navbar {
  font-size: 20px;
  text-align: center;
  margin: auto;
  height: 30px;
  width: 700px;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  border-right: 2px solid #1E90FF;
  border-left: 2px solid #1E90FF;
}

li a {
  color: #F7F7FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 1s;
}

li a:hover {
  background-color: #16324F;
}

/*Grid for cars*/
.container {
  display: grid;
  border: 1px solid black;
  grid-template-columns: auto auto auto;
}

.container>div {
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
}

.cars {
  background-color: #1CFEBA;
  color: #F7F7FF;
}

.seats {
  background-color: #1CFEBA;
  color: #F7F7FF;
}

.priceDay {
  background-color: #1CFEBA;
  color: #F7F7FF;
}































































































/*Where the summary is displayed*/
.userSum {
  position: absolute;
  top: 1705px;
  right: 100px;
}

/*Where user puts their input*/
.booking {
  font-size: 20px;
  height: 250px;
  width: 400px;
  background-color: #555;
}

/*Where user puts their name*/
.enterName {
  text-align: center;
  font-size: 30px;
}

#nameInput {
  width: 300px;
  font-size: 30px;
  padding: 15px;
  border-radius: 25px
}