/*
Where user puts their input
*/
.booking {
  height: 250px;
  width: 300px;
  background-color: #555;
}
/*
The title
*/
.title {
  margin: auto;
  text-align: center;
  height: 100px;
  width: 500px;
  background-color: #555;
}
/*
Where the summary is displayed
*/
.userSum {
  position: absolute;
  top: 1705px;
  right: 100px;
}
/*
Box for cars
*/
.container {
  display: grid;
  border: 1px solid black;
  grid-template-columns: auto auto auto;
}
/*
Grid for cars
*/
.container>div {
  font-size: 20px;
  text-align: center;
  border: 1px solid black;
}
/*
Where user puts their input
*/
.enterName {
  text-align: center;
}

.bac {
  background-color: red;
}















































/*The navigation bar*/

.navbar {
  font-size: 25px;
text-align: center;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
}

li {
  display: inline;
  border-right: 2px solid red;
  border-left: 2px solid red;
}

li a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 1s;
}

li a:hover {
  background-color: #2BA84A;
}